[Desktop Entry]
Categories=Qt;AudioVideo;Video;Viewer;
Comment=Viewer and mounter video streams
Exec=env LIBGL_ALWAYS_SOFTWARE=1 cctv-viewer
GenericName=Video streams viewer
Icon=cctv-viewer
Keywords=cctv;viewer;live streaming;
Name=CCTV Viewer
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=cctv-viewer
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
