[Desktop Entry]
Actions=new-empty-window;
Categories=TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=/usr/bin/code %F --disable-gpu
GenericName=Text Editor
Icon=visual-studio-code
Keywords=vscode;
MimeType=application/x-code-workspace;
Name=Visual Studio Code
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
StartupWMClass=Code
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action new-empty-window]
Exec=/usr/bin/code --new-window %F
Icon=visual-studio-code
Name=New Empty Window
